*.pyc
__pycache__
settings_local.py
build
node_modules/
logs/*.log
TODO
.DS_Store
.idea
.agignore
*.sublime-workspace
npm-debug.log
httpd.conf
logfile
*.swp
*.swn
*.swm
*.swo
scratch.py
scratch.sql
scratch.sh
*.log
*.log.2*
*.orig
*.coverage*
test_coverage*
log/*
.ropeproject/
output_data/reports/
*.cson
*.*~
*\#*
.RData
.Rhistory
